<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <script src="../static/js/bootstrap.js"></script>
</head>
<body style="background-color: gray;">
    <div class="container">
        <br><br><br>
    <form action="/change_password" method="post" class="w-50 mx-auto bg-secondary p-2" >
        
        <h2>Change Password</h2>
        <i class="text-danger" >{{message}}</i>
        <input type="text" name="email" placeholder="Enter your email address" class="form-control mb-3">
        <input type="password" name="password" placeholder="new password" class="form-control mb-3">
        <input type="password" name="confirm" placeholder="Re-enter new password" class="form-control mb-3">
        <button type="submit" class="btn btn-success">Change Password</button>
    </form>
    </div>
    
</body>
</html>