<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vendors</title>
    <link rel="stylesheet" href="../static/css/signup.css">
    
</head>
<body>

    <div class="container right-panel-active">
        <!-- Sign Up -->
        <div class="container__form container--signup">
            
            <form action="/save_vendor" method="POST" enctype="multipart/form-data" class="form" id="form1">
                <i class="text-danger">{{response}}</i>
                <h4>{{message}}</h4>
                <h2 class="form__title">Sign Up</h2>
              
                <input type="text"  name="name" placeholder="vendor_name" class="input" />

                <input type="email" name="email" placeholder="vendor_email" class="input" />

                <input type="password" name="password" placeholder="vendor_password" class="input" />

                <input type="text" name="phone" placeholder="vendor_contact" class="input" />

                

                <input type="location" name="location" placeholder="location" class="input" />

                <input type="file" name="image" placeholder="image" class="input" />

                <!-- <input type="text" name="desc" placeholder="vendor_description" class="input" /> -->

                <textarea name="desc" id="" cols="20" rows="10" class="input"></textarea>

                <button type="submit" class="btn">Sign Up</button>
            </form>
        </div>
    
        <!-- Sign In -->
        <div class="container__form container--signin">
            <form action="/signin" method="POST" class="form" id="form2">
                <h2 class="form__title">Sign In</h2>
                <i class="text-danger">{{response}}</i>
                <h4>{{message}}</h4>
                <input type="text" placeholder="username" name="username" class="input" />
                <input type="password" placeholder="Password" name="password" class="input" />
                <a href="/change_password" class="link">Forgot your password?</a>
               <button type="submit" class="btn">Sign In</button>
            </form>
        </div>
    
        <!-- Overlay -->
        <div class="container__overlay">
            <div class="overlay">
                <div class="overlay__panel overlay--left">
                    <button class="btn" id="signIn">Sign In</button>
                </div>
                <div class="overlay__panel overlay--right">
                    <button class="btn" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/js/signup.js"></script>
</body>
</html>